@model PetsFactory.Models.ViewModels.DashboardViewModel
@{
    ViewData["Title"] = "Home Page";
}

<!-- display alert after "Pets" action -->
<script src="~/assets/js/jquery-3.2.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.13.0/dist/sweetalert2.all.min.js"></script>
@if (TempData["Success"] != null)
{
    <script>
        $(document).ready(function () {
            Swal.fire("Success", "@TempData["Success"]", "success");
        });
    </script>
}
else if (TempData["Error"] != null)
{
    <script>
        $(document).ready(function () {
            Swal.fire("Error", "@TempData["Error"]", "error");
        });
    </script>
}

<div class="page-wrapper">

    <div class="page-body">
        <div class="row">

            <!-- display all pets cards -->
            @foreach (var item in Model.PetsObj)
            {
                <div class="col-md-6 col-xl-3">
                    <div class="card widget-card-1">
                        <div class="card-block-small">

                            <img src="@item.PetImage" class="bg-c-blue card1-icon" />
                            <span class="text-c-blue f-w-600"><i class="f-16 icofont icofont-tag m-r-5"></i> @item.PetCategory.CategoryName</span>
                            <h4>@item.Name</h4>
                            <div>
                                <span class="f-left m-t-10 text-muted">
                                    <a asp-controller="Dashboard" asp-action="Details" asp-route-id="@item.Id" class="m-r-10 f-18 btn btn-primary rounded shadow-sm">Get Pet</a>

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- pet cards end -->
        </div>
        <div class="row">

            <!-- Statestics Start -->
            <div class="col-md-12 col-xl-8">
                <div class="card">
                    <div class="card-header">
                        <h5>Graph for number of pets added For each days of the week</h5>
                        <div class="card-header-left ">
                        </div>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="icofont icofont-simple-left "></i></li>
                                <li>
                                    <i class="icofont icofont-maximize full-card"></i>
                                </li>
                                <li>
                                    <i class="icofont icofont-minus minimize-card"></i>
                                </li>
                                <li>
                                    <i class="icofont icofont-refresh reload-card"></i>
                                </li>
                                <li>
                                    <i class="icofont icofont-error close-card"></i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block">
                        <div id="statestics-chart" style="height:517px;"></div>
                    </div>
                </div>
            </div>



            <div class="col-md-12 col-xl-4">
                <div class="card fb-card">
                    <div class="card-header">
                        <i class="icofont icofont-social-facebook"></i>
                        <div class="d-inline-block">
                            <h5>facebook</h5>
                            <span>Follow us on facebook</span>
                        </div>
                    </div>
                    <div class="card-block text-center">
                        <div class="row">
                            <div class="col-12 b-r-default">
                                <h3>@@ PetsFactory</h3>
                                <p class="text-muted">Active</p>
                            
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card twitter-card">
                    <div class="card-header">
                        <i class="icofont icofont-social-twitter"></i>
                        <div class="d-inline-block">
                            <h5>twitter</h5>
                            <span>Follow us on twitter</span>
                        </div>
                    </div>
                    <div class="card-block text-center">
                        <div class="row">
                            <div class="col-12 b-r-default">
                                <h3>@@PetsFactory</h3>
                                
                                <p class="text-muted">Active</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>
        'use strict';
        $(document).ready(function () {

            /*Area chart*/

            var chart = AmCharts.makeChart("statestics-chart", {
                "type": "serial",
                "marginTop": 0,
                "hideCredits": true,
                "marginRight": 0,
                "dataProvider": [
                   @foreach(var item in Model.DaysPetCount)
            {
                    var jsonStr = "{" + "\"year\": \"" + item.Key.Substring(0, 3) + "\",\"value\":" + Convert.ToDouble(item.Value) + "},";

                       @Html.Raw(jsonStr)
            }
                    ],
                "valueAxes": [{
                    "axisAlpha": 0,
                    "dashLength": 6,
                    "gridAlpha": 0.1,
                    "position": "left"
                }],
                "graphs": [{
                    "id": "g1",
                    "bullet": "round",
                    "bulletSize": 9,
                    "lineColor": "#4680ff",
                    "lineThickness": 2,
                    "negativeLineColor": "#4680ff",
                    "type": "smoothedLine",
                    "valueField": "value"
                }],
                "chartCursor": {
                    "cursorAlpha": 0,
                    "valueLineEnabled": false,
                    "valueLineBalloonEnabled": true,
                    "valueLineAlpha": false,
                    "color": '#fff',
                    "cursorColor": '#FC6180',
                    "fullWidth": true
                },
                "categoryField": "year",
                "categoryAxis": {
                    "gridAlpha": 0,
                    "axisAlpha": 0,
                    "fillAlpha": 1,
                    "fillColor": "#FAFAFA",
                    "minorGridAlpha": 0,
                    "minorGridEnabled": true
                },
                "export": {
                    "enabled": true
                }
            });
            /*donut chart*/

        });
    </script>

}
